<ul class="nav justify-content-center nav-pills">
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="service">SERVICE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">PRICE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="about-us">ABOUT US</a>
    </li>
</ul>
<br>
<h2 style="padding-left: 30px;">Our Team</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; align-items: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Test User</h5>
                    <p class="card-text">Test Posistion <br> 0111234568 <br> abc@gmail.com</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; align-items: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Test User</h5>
                    <p class="card-text">Test Posistion <br> 0111234568 <br> abc@gmail.com</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; align-items: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Test User</h5>
                    <p class="card-text">Test Posistion <br> 0111234568 <br> abc@gmail.com</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; align-items: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Test User</h5>
                    <p class="card-text">Test Posistion <br> 0111234568 <br> abc@gmail.com</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; align-items: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Test User</h5>
                    <p class="card-text">Test Posistion <br> 0111234568 <br> abc@gmail.com</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; align-items: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Test User</h5>
                    <p class="card-text">Test Posistion <br> 0111234568 <br> abc@gmail.com</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; align-items: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Test User</h5>
                    <p class="card-text">Test Posistion <br> 0111234568 <br> abc@gmail.com</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; align-items: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="..."
                    style="width: 150px; height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">Test User</h5>
                    <p class="card-text">Test Posistion <br> 0111234568 <br> abc@gmail.com</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h2 style="padding-left: 30px;">Organizational Hierarchy</h2>
<img src="https://d3n817fwly711g.cloudfront.net/blog/wp-content/uploads/2014/07/Basic-org-chart.png" class="img-fluid"
    alt="..." id="OrganizationalHierarchy">
<br>
<div class="card" style="background-color: rgb(18, 64, 124); color: honeydew;">
    <div class="card-body">
        <h2 style="text-align: center;">Vision</h2>
        <p style="text-align: center;">ඌව අභීයෝගයෙන් අභිමානයට</p>
    </div>
</div>


<br>

<div class="card">
    <div class="card-body" style="background-color: rgb(18, 64, 124); color: honeydew;">
        <h2 style="text-align: center;">Mission</h2>
        <p style="text-align: center;">ඌව පළාත තුළ පවත්නා බාහිර වශයෙන් ලබ ගන්නා සීමිත සම්පත් ප්‍රශස්ත ලෙස යොදවා ඌව පළාතේ
            ජනතාවගේ ආර්ථික, සමාජීය, ශාරීරික හා මානසික සංවර්ධනය ඇති කරලීම තුළින් ඔවුන්ගේ ජීවන මට්ටම් ඉහළ නැංවීම හා
            අනෝන්‍ය විශ්වාසය හා සාමකාමී බව ප්‍රවර්ධනය කිරීම ඌව පළාත් සභාවේ මෙහෙවර වේ.</p>
    </div>
</div>
<br>
<h2 style="text-align: center;">Links</h2>
<div class="list-group">
    <a href="https://dmt.gov.lk/index.php?lang=en" class="list-group-item list-group-item-action" target="_blank">Department of Motor Traffic</a>
    <a href="https://www.transport.gov.lk/web/index.php?option=com_content&view=article&id=27&Itemid=147&lang=en" target="_blank" class="list-group-item list-group-item-action">National Transport Commission</a>
    <a href="https://www.transport.gov.lk/" target="_blank" class="list-group-item list-group-item-action">Ministry of Transport</a>
    <a href="https://www.sltb.lk/" target="_blank" class="list-group-item list-group-item-action">SLTB</a>
    <a href="https://www.police.lk/index.php/item/52-traffic-police" target="_blank" class="list-group-item list-group-item-action">Traffic Police</a>
</div>