#downloadDiv {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 80%;
    height: 100%;
    border: 20px solid #969696;
    background: #d9dbda;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 25px;
}